body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.HouseWrapper {
    padding: 200px 0;
}
.House {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 225px;
    height: 225px;
    margin: 0 auto;
    border: 1px solid #000000;
    box-sizing: border-box;
}
.House::before {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent transparent #000000 transparent;
    top: -100px;
    left: -20px;
    border-width: 0 130px 100px 130px;
}
.Room {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    border: 1px solid #000000;
}
.Room.RoomLightOn {
    background-color: #daa520;
    color: #000000;
}
.Room.RoomLightOff {
    background-color: #000000;
    color: #daa520;
    border: 1px solid #daa520;
}
.RoomTitle{
    margin: 0 0 5px 0;
    font-size: 16px;
}
.RoomLightStatus {
    margin: 0 0 8px 0;
    font-size: 12px;
}
.RoomLightSwitcher {
    box-sizing: border-box;
    border-radius: 3px;
    font-size: 10px;
    outline: none;
    padding: 2px;
    font-weight: bold;
    border: 1px solid transparent;
}
.RoomLightSwitcher:hover {
    cursor: pointer;
}
.Room.RoomLightOn .RoomLightSwitcher {
    background-color: #000000;
    color: #daa520;
}
.Room.RoomLightOff .RoomLightSwitcher {
    background-color: #daa520;
    color: #000000;
}
.ButtonDesktopVisiblePart {
    display: none;
    visibility: hidden;
}

@media (min-width: 540px) {
    .House {
        width: 400px;
        height: 400px;
    }
    .House::before {
        top: -150px;
        left: -50px;
        border-width: 0 252px 150px 252px;
    }
    .RoomTitle{
        margin: 0;
        font-size: 24px;
    }
    .RoomLightStatus {
        margin: 0 0 14px 0;
        font-size: 16px;
    }
    .RoomLightSwitcher {
        font-size: 13px;
        padding: 5px;
    }
    .ButtonDesktopVisiblePart {
        display: inline;
        visibility: initial;
    }
}